

{% extends 'cinemafilmBundle::layout.html.twig' %}
    {% block title %}Liste des realisateurs{% endblock %}

    {% block body %}


        <h2>Liste des films</h2>

        <br />
        {% for film in films %}
            <div class="thumbnail">
                <div class="caption-full">
                    <h4 class="pull-right">{{ film.genre }}</h4>
                    <h4><a href="{{ path('cinema_film_default_show', {'id': film.id}) }}">{{ film.titre }}</a></h4>
                    <p>{{ film.synopsis }}</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">sorti le {{ film.date | date('d/m/Y') }}</p>
                    <p>Réalisé par : <a href="cinema-films-realisateur.html">{{ film.realisateur }}</a></p>
                </div>
            </div>

        {% endfor %}


    {% endblock %}